<div class="row">
    <div class="col-6"><h2>Candidates</h2></div>
    <div class="col-6 d-flex justify-content-end">
        <a href = "/addUser" type='button' class = "btn btn-light btn-outline-dark align-self-center bi bi-person-plus"></a>
    </div>

</div>

<table class="table table-light table-bordered table-striped table-hover text-center" style="font-size: 12px;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Latest Degree</th>  
            <th scope="col">Major</th>
            <th scope="col">CGPA (/10)</th>
            <th scope="col">Domain Skills</th>
            <th scope="col">Graduation year</th>
            <th scope="col">Achievements</th>
            <th scope="col">E-Mail ID</th>
            <th scope="col">Contact No.</th>
            <th class="text-end" style="width:1px; white-space:nowrap;">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each rows}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.latest_degree}}</td>
            <td>{{this.major}}</td>
            <td>{{this.cgpa}}</td>
            <td>{{this.domain_skills}}</td>
            <td>{{this.graduation_year}}</td>
            <td>{{this.achievements}}</td>
            <td>{{this.email}}</td>
            <td>{{this.contact}}</td>
            <td class="text-end" style="width:1px; white-space:nowrap;">
                <a href="#" type="button" class="btn btn-secondary btn-small"> <i class="bi bi-eye"></i></a>
                <a href="/edituser/{{this.id}}" type="button" class="btn btn-dark btn-small"> <i class="bi bi-pencil"></i></a>
                <a href="/{{this.id}}" type="button" class="btn btn-danger btn-small"> <i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
